body {
    background: #fff;
    font-family: Arial;
    width:320px;
    color:#545454;
}
a {
	cursor:pointer;
}
label.error {
	float:none;
	color: red;
	padding-left:.5em;
	vertical-align:top;
}
div.error {
	float:left;
	color:red;
	clear:left;
}
.button {
	padding: 0.4em 1em;
	display:block;
	float:left;
	line-height:1.4;
	color: #71411A;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	background: #eeeeee;
	border: 1px solid #cccccc;
	border-radius: 6px 6px 6px 6px;
}

input {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#headerMyAccount li {
	float:left;
	padding-right:15px;
}

#headerMyAccount {
	float:right;
	list-style-type:none;
	margin:0;
	padding-top:40px;
	overflow:hidden;	
}

/* company */
#companyContainer {
	float:left;
	clear:left;
	padding-bottom:20px;
	margin-top: 20px;
}

.locationAddress {
	margin-top: 5px;
}

.locationName {
	color: #71411A;
}

#coLocations {
	float:left;
	margin-top:10px;
}

#companyContainer label {
	padding-top: 15px;
	float:left;
	margin-right:10px;
}

#coPostalCode {
	margin-top: 10px;
}

#coFindClosestLocation {
	float:left;
	margin-left:60px;
	margin-top:25px;
}

#findByPostal {
	clear:left;
	float:left;
}

#companyContainer input {
	float:left;
	margin-right:10px;
	width:90px;
}

#coLocations {
	float:left;
	clear:left;
}

.locationMileage {
	margin-top: 10px;
}

.locationInfo {
	float:left;
	list-style-type:none;
	margin:0;
	padding:10px;
	overflow:hidden;
}

.locationInfo li {
	float:left;
	clear:left;
	text-align:center;
}

.seeMap {
	text-decoration:underline;
}

#map_dialog {
	float:left;
}

#map_canvas {
	float:left;
	width:300px;
	height:290px;
}

#closeMap {
	margin-left:120px;
	margin-top:10px;
}