body {
    background: #fff;
    font-family: Arial;
    width:290px;
    color:#545454;
}
a {
	cursor:pointer;
}
label.error {
	float:none;
	color: red;
	padding-left:.5em;
	vertical-align:top;
}
div.error {
	float:left;
	color:red;
	clear:left;
}
.button {
	padding: 0.4em 1em;
	display:block;
	float:left;
	line-height:1.4;
	color: #71411A;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
	background: #eeeeee;
	border: 1px solid #cccccc;
	border-radius: 6px 6px 6px 6px;
}

#mobileHeader {
	float:left;
	clear:left;	
	width:100%;
}

input {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#headerMyAccount li {
	float:left;
	padding-right:15px;
}

#headerMyAccount {
	float:right;
	list-style-type:none;
	margin-bottom:10px;
	padding-top:40px;
	overflow:hidden;	
}

/* company */
#companyContainer {
	float:left;
	clear:left;
	padding-bottom:20px;
	margin-top: 20px;
}

.locationAddress {
	margin-top: 5px;
}

.locationName {
	color: #71411A;
}

#coLocations {
	float:left;
	margin-top:10px;
}

#companyContainer label {
	padding-top: 15px;
	float:left;
	margin-right:10px;
}

#coPostalCode {
	margin-top: 10px;
}

#coFindClosestLocation {
	float:left;
	margin-left:60px;
	margin-top:25px;
}

#findByPostal {
	clear:left;
	float:left;
}

#companyContainer input {
	float:left;
	margin-right:10px;
	width:90px;
}

#coLocations {
	float:left;
	clear:left;
}

.locationMileage {
	margin-top: 10px;
}

.locationInfo {
	float:left;
	list-style-type:none;
	margin:0;
	padding:10px;
	overflow:hidden;
}

.locationInfo li {
	float:left;
	clear:left;
	text-align:center;
}

.seeMap {
	text-decoration:underline;
}

#map_dialog {
	float:left;
}

#map_canvas {
	float:left;
	width:290px;
	height:290px;
}

#closeMap {
	margin-left:120px;
	margin-top:10px;
}

/* categories */
#bodyContainer {
	float:left;
	clear:left;
}

.category {
	float:left;
	clear:left;
	border-radius: 6px 6px 6px 6px;
	border-color: #c0c0c0;
	padding: 5px;
	line-height:1.4;
	cursor:pointer;
	text-decoration:none;
	border-left:1px solid gray;
	border-top:1px solid gray;
	border-right:1px solid gray;
	width:290px;
	background: #eeeeee;
}

#categoryContainer {
	float:left;
	clear:left;
}

#navCatBack {
	float:left;
	clear:left;
	width:290px;
	padding: 5px;
	line-height:1.4;
	text-align:center;
	cursor:pointer;
	border:1px solid gray;
	background: #eeeeee;	
	margin-bottom:10px;
}

.menuItemNavBack,.categoryNavBack {
	color:blue;
	text-decoration:underline;
	float:left;
}

.menuItem {
	float:left;
	clear:left;
	width:290px;
	padding: 5px;
	line-height:1.4;
	cursor:pointer;
	border-left:1px solid gray;
	border-top:1px solid gray;
	border-right:1px solid gray;
	background: #eeeeee;	
}

.menuItemPriceLabel {
	float:right;
}

#menuItemDesc {
	float:left;
	clear:left;
}

#menuItemPrice {
	float:right;
	clear:left;
	margin-top:20px;
}

#groupContainer {
	float:left;
	clear:left;
	margin-top:10px;
}

.choiceOption {
	float:left;
	margin-top:10px;
}

#groupContainer label {
	float:left;
	margin-right:5px;
	margin-top:10px;
}

.choiceOption select {
	float:left;
}

.choiceOption input {
	float:left;
}

#add2cart {
	float:right;
	clear:left;
	margin-top:20px;
}

#commentContainer {
	float:left;
	clear:left;
	margin-top:10px;
}

/* cart */

#continueShopping {
	float:left;
	clear:left;
}

#checkout {
	float:right;
}

#cartTable {
	margin-bottom:10px;
	float:left;
	clear:left;
	width:290px;
}

.choiceOptionStyle {
	font-style:italic;
	font-size: 12px;
}

#cartTable th {
	background-color: #eee;
}

/* login */

#loginContainer {
	float:left;
	clear:left;
}

#loginContainer label {
	float:left;
	clear:left;
	margin:5px;
	width:100px;
}

#loginContainer input {
	float:left;
	margin:5px;
}

#loginBtn {
	float:left;
	clear:left;
	margin-left:120px;
	margin-top:20px;
}
