<div id="loginContainer">
	<label for="email">Email</label>
	<input type="text" name="email" id="email"/>
	<label for="password">Password</label>
	<input type="password" name="password" id="password"/>
	<div id="loginBtn" class="button">
		<span class="button-text">Login</span>
	</div>	
</div>
