<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Order Confirmation</h1>
    <p>
	  <%=@user.first_name%>, you have placed order <%=@order.id%>.
    </p>
    <p>Thank you!</p>
  </body>
</html>