<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Password Reset </h1>
    <p>
	  <%=@user.first_name%>, your temporary password is <%=@password%>.  Please make sure to change it.
    </p>
    <p>Thank you!</p>
  </body>
</html>